@import 'bootstrap.min.css';
html {
  height: 100%;
  min-height: 100%;
}
body {
  background: transparent url('../img/debut_dark.png') 0 0 repeat;
  height: 100%;
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  overflow-x: hidden;
}
a {
  outline: none;
}
a:link,
a:visited {
  color: #33B3CC;
  text-decoration: none;
}
a:hover,
a:active {
  color: #2B8B9E;
  transition: 500ms;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}
#wrapper {
  width: 690px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
}
/* sidebar
----------------------------------------------------*/
@-webkit-keyframes dropin {
  0% {
    margin-left: 250px;
    opacity: 0;
  }
  40% {
    margin-left: 250px;
    opacity: 0;
  }
  70% {
    margin-left: 250px;
    opacity: 0;
  }
  80% {
    margin-left: 250px;
    opacity: 1;
  }
  100% {
    margin-left: 0;
  }
}
.sidebar {
  position: fixed;
  width: 300px;
  -webkit-animation-name: dropin;
  -webkit-animation-duration: 1s;
}
/* header
----------------------------------------------------*/
header.personalia-header {
  width: 250px;
  position: absolute;
  left: -260px;
  top: 0px;
  text-align: right;
  transition: -webkit-transform 300ms;
}
header.personalia-header h2,
header.personalia-header h1 {
  font-size: 20px;
  line-height: 30px;
  color: #231f20;
  margin: 0;
  letter-spacing: -0.48px;
  display: inline-block;
  color: #ECD078;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.6), /* shadow */ 0 -1px 0 rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
header.personalia-header h1 {
  margin-top: 30px;
}
header.personalia-header h1 .name {
  font-size: 30px;
  display: block;
  color: #41C0D9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9), /* shadow */ 0 1px 0 rgba(255, 255, 255, 0.4);
}
header.personalia-header h1 .separator {
  color: #d4d4d4;
  margin: 0 11px;
}
header.personalia-header h2 {
  font-size: 14px;
  position: relative;
  top: -2px;
  letter-spacing: -0.15px;
}
/* Menu
----------------------------------------------------*/
.main-nav {
  transition: top 500ms, -webkit-transform 500ms;
  position: absolute;
  left: -150px;
  top: 120px;
  padding: 0;
  margin: 0;
  text-align: left;
}
.main-nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-nav li {
  display: block;
}
.main-nav li a {
  background: #F5F5F5;
  display: block;
  padding: 9px 35px 9px 5px;
  margin-left: 111.6px;
  transition: margin 500ms;
  font-size: 16px;
  vertical-align: middle;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #E8E8E8;
}
.main-nav li a i {
  font-size: 24px;
}
.main-nav li a:hover {
  margin-left: 0;
  background: #F0F0F0;
}
.main-nav li a :first {
  border-top: 0;
}
/* Content
----------------------------------------------------*/
.content-wrapper {
  position: relative;
}
.content-pages {
  position: relative;
}
.content {
  min-height: 150px;
  background: url('../img/gray_jean.png') #ffffff;
  padding: 9px;
  z-index: 21;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px rgba(43, 43, 43, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(43, 43, 43, 0.5);
  box-shadow: 0px 0px 10px rgba(43, 43, 43, 0.5);
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.content-hidden {
  top: -400px;
}
.content-loading {
  -moz-transition: top 500ms;
  -webkit-transition: top 500ms;
  -o-transition: top 500ms;
  -ms-transition: top 500ms;
  transition: top 500ms;
}
.content a:focus {
  outline: none;
}
.content-container {
  position: relative;
  border: 1px solid #ddd;
  min-height: 277px;
  background: rgba(255, 255, 255, 0.5);
}
.about .content-container {
  padding: 10px;
}
.socialfeed-notice {
  font-size: 0.7em;
  text-align: right;
  font-style: italic;
  margin-bottom: 0;
}
.details-link {
  font-size: 0.8em;
  text-align: right;
}
.content.about .content-container {
  padding-top: 70px;
}
.content.about .decoration {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
.content.about .social-buttons {
  text-align: center;
  background: #32B0F0;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  padding: 0;
}
.content.about .social-buttons ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;
  display: inline-block;
}
.content.about .social-buttons ul li {
  float: left;
  margin: 0;
  padding: 0;
  margin-bottom: -5px;
}
.content.about .social-buttons ul .social-title {
  display: inline-block;
  padding: 10px;
  background: #32B0F0;
  color: #fff;
  font-size: 1.2em;
}
.content.about .social-buttons ul li a {
  font-size: 30px;
  background: #149bdf;
  padding: 10px;
  display: inline-block;
  color: #fff;
  overflow: hidden;
}
.content.about .social-buttons ul li a span {
  font-size: 0.5em;
  display: inline-block;
  overflow: hidden;
  width: 0px;
  vertical-align: middle;
  -moz-transition: width 500ms;
  -webkit-transition: width 500ms;
  -o-transition: width 500ms;
  -ms-transition: width 500ms;
  transition: width 500ms;
}
.content.about .social-buttons ul li a .icon-coderwall img {
  height: 28px;
}
.content.about .social-buttons ul li a:hover {
  background: #0C87C4;
}
.content.about .social-buttons ul li a:hover span {
  margin-right: 10px;
  width: 100px;
  -moz-transition: width 500ms;
  -webkit-transition: width 500ms;
  -o-transition: width 500ms;
  -ms-transition: width 500ms;
  transition: width 500ms;
}
/* Social Feed
---------------------------------------------------*/
.socialfeed-container .socialfeed-icon {
  position: absolute;
  font-size: 40px;
  right: -60px;
  top: 20px;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}
.socialfeed-container .socialfeed-github:not(.socialfeed-github-push) h2 {
  margin: 0;
}
.socialfeed-container .socialfeed-body {
  margin: 0 20px 0;
}
.socialfeed-container .socialfeed-commit-list {
  margin: 0 20px 0;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  font-style: italic;
}
.socialfeed-container .socialfeed-commit-list a {
  display: inline-block;
  width: 60px;
  font-style: normal;
}
.socialfeed-container .socialfeed-item {
  position: relative;
  padding: 30px 10px;
}
.socialfeed-container .socialfeed-item header {
  position: relative;
}
.socialfeed-container .socialfeed-item header h2 {
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  width: 90%;
}
.socialfeed-container .socialfeed-item header time {
  position: absolute;
  top: 0;
  right: 0;
  color: #222;
  font-size: 0.8em;
  font-style: italic;
}
.socialfeed-container .socialfeed-item:nth-child(odd) {
  background: #fff;
}
/* Responsiveness
---------------------------------------------------*/
@media screen and (max-width: 1150px) {
  .main-nav {
    top: 170px;
    -webkit-transform: scale(0.7);
    left: -145px;
  }
  header.personalia-header {
    left: -165px;
    top: 50px;
    -webkit-transform: rotate(-90deg) scale(0.7);
  }
}
/* LOADING
---------------------------------------------------*/
.loading {
  border-radius: 5px;
  padding: 20px;
  position: absolute;
  z-index: 999;
  width: 200px;
  left: 50%;
  top: 50%;
  margin-left: -120px;
  margin-top: -50px;
  text-align: center;
  display: none;
  font-size: 30px;
}
