.content.about {

  .content-container {
    padding-top: 70px;
  }

  .decoration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;


    background-color: #149bdf;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
  }

  .social-buttons {
    text-align: center;
    background: #32B0F0;

    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    padding: 0;
  }

  .social-buttons ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    display: inline-block;

    li {
      float: left;
      margin: 0;
      padding: 0;

      margin-bottom: -5px;
    }

    .social-title {
      display: inline-block;
      padding: 10px;

      background: #32B0F0;
      color: #fff;
      font-size: 1.2em;
    }


    li a {
      font-size: 30px;
      background: #149bdf;
      padding: 10px;

      display: inline-block;

      color: #fff;
      overflow: hidden;

      span {
        font-size: 0.5em;
        display: inline-block;
        overflow: hidden;
        width: 0px;
        vertical-align: middle;

        -moz-transition: width 500ms;
        -webkit-transition: width 500ms;
        -o-transition: width 500ms;
        -ms-transition: width 500ms;
        transition: width 500ms;
      }

      .icon-coderwall img {
        height: 28px;
      }

      &:hover {

        background: #0C87C4;

        span { 
          margin-right: 10px;
          width: 100px;

          -moz-transition: width 500ms;
          -webkit-transition: width 500ms;
          -o-transition: width 500ms;
          -ms-transition: width 500ms;
          transition: width 500ms;
        }
      }
    }
  }
}