html { box-sizing: border-box; }
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100%;
  font-size: 18px;
}
body {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  position: relative;
}
.left, .right {
  flex: 1 0 auto;
  max-width: 50%;
  padding: 15rem 1.5rem 7rem;
}
.right h1, .right h2 {
  font-size: 2.7rem;
}
.left h3 {
  font-size: 1.5rem;
  padding-top: 1.3rem;
}
.description {
  max-width: 400px
}
.left {
  font-size: 1rem;
}
.left > div {
  width: 100%;
  float: right;
  clear: both;
}
.left li {
  list-style: none;
  margin: 0.6rem 0 1.4rem;
}
.metadata {
  font-size: 0.8rem;
}
.headerMetadata {
  font-size: 1.25rem;
}
.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 620px) {
  body {
    flex-direction: column;
  }
  .left, .right {
    text-align: right;
    padding: 2rem 1.5rem;
    max-width: 100%;
  }
  .headerMetadata {
    font-size: 1rem;
  }
  .right h1 {
    font-size: 2em;
  }
  .description {
    display: none;
  }
}
