body {
  color: #666;
}
body::before,
body::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
body::before {
  opacity: 0.2;
  background: url('./pattern-min.jpg') top left repeat-x;
}
body::after {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
}

.right {
  background: rgba(100,100,100, 0.05);
}
.right h1,
.right h2 {
  font-style: italic;
  font-weight: 600;
}
.left h3 {
  font-style: italic;
  font-weight: 600;
}
.description {
  text-align: justify;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #888;
}

.left {
  text-align: right;
}

.left a,
.headerMetadata a {
  color: #888;
  text-decoration: none;
}
.left li > a {
  display: block;
  text-decoration: underline;
}
.left a:hover,
.left li:hover > a,
.headerMetadata a:hover {
  color: #333;
}

.metadata {
  color: #999;
}
.headerMetadata {
  font-style: italic;
}

.insetshadow,
.insetshadow--small {
  color: #666;
  letter-spacing: .1em;
}

.insetshadow {
  text-shadow: 3px 3px 0px #d5d5d5,
      6px 6px 0px rgba(0, 0, 0, 0.2);
}
.insetshadow--small {
  text-shadow: 2px 2px 0px #d5d5d5,
      4px 4px 0px rgba(0, 0, 0, 0.2);
}

.attribution {
  font-size: 0.7rem;
  font-style: italic;
  color: #999;
}
.attribution a {
  color: #999;
  text-decoration: none;
}
