* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
  font-size: 18px;
}

html {
  font-family: 'Crimson Text', serif;
}

body {
  display: flex;
  flex-direction: row-reverse;

  color: #666;
  align-items: stretch;
  position: relative;
}

body::before {
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: url('./pattern.jpg') top left repeat-x;
}

body::after {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);
}

.left,
.right {
  flex: 1 0 50%;
  width: 50;
  min-height: 100%;

  padding: 15rem 1.5rem 7rem;
}

.right h1,
.right h2 {
  font-size: 3rem;
  font-style: italic;
  font-weight: 600;
}

.left h3 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
  font-style: italic;
  font-weight: 600;
}

.left {
  text-align: right;
  font-size: 1rem;
}

.right {
  background: rgba(100,100,100, 0.05);
  /*background: #2d2d2d;*/
}
.left > div {
  width: 100%;
  float: right;
  clear: both;
}
.left ol {
  list-style: none;
}
.left li {
  margin: 1rem 0;
}

.left a,
.headerMetadata a {
  color: #888;
  text-decoration: none;
}
.left li > a {
  display: block;
  text-decoration: underline;
}
.left a:hover,
.left li:hover > a,
.headerMetadata a:hover {
  color: #333;
}

.metadata {
  font-size: 0.8rem;
  color: #999;
}

.headerMetadata {
  font-size: 1.3rem;
  font-style: italic;
}

.insetshadow {
  color: #666;
  letter-spacing: .1em;
  text-shadow: 3px 3px 0px #d5d5d5,
      6px 6px 0px rgba(0, 0, 0, 0.2);
}
.insetshadow--small {
  color: #666;
  letter-spacing: .1em;
  text-shadow: 2px 2px 0px #d5d5d5,
      4px 4px 0px rgba(0, 0, 0, 0.2);
}


.attribution {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.7rem;
  font-style: italic;

  color: #999;
}
.attribution a {
  color: #999;
  text-decoration: none;
}
